html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    width: 90wv;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-weight: 600;
}

li {
    list-style-type: none;
}

#navbar-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#navbar-logo a {
    font-size: 4rem;
    font-weight: 700;
    color: blue;
    text-decoration: none;
    font-family: 'Montserrat';
}

.button {
    min-width: 100px;
    width: min-content;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
} 

#order-button {
    background-color: blue;
    color: white;
}

#sign-in-button {
    background-color: lightgrey;
}

h1 {
    color: tomato;
}